@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: variables.$color-four;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

button {
    margin: 1rem;
    padding: 2px 0.5rem;
    border-radius: 5px;
    &.primary-btn {
        color: variables.$color-five;
        background-color: variables.$color-four;
        border: 1px solid variables.$color-four;
        &:hover {
            cursor: pointer;
            background-color: variables.$color-three;
        }
    }
    &.secondary-btn {
        color: variables.$color-two;
        background-color: variables.$color-five;
        border: 1px solid variables.$color-four;
        &:hover {
            cursor: pointer;
            background-color: variables.$color-four;
            color: variables.$color-five;
        }
    }
    img {
        width: 1rem;
        vertical-align: middle;
    }
}

img {
    max-width: 100%;
}
