@use 'variables';

nav{
    .container {
        height: 60px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
    }
    .col-10 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &.sx {
            display: none;
        }
    }
    ul {
        &> li {
            display: inline-block;
            padding: 0 0.5rem;
            &> a {
                color: variables.$primary-color;
                text-decoration: none;
            }
        }
    }
} 

@media screen and (max-width: 700px) {
    nav{
        > .container {
            .col-10 {
                &.lg {
                    display: none;
                }
                &.sx {
                    display: flex;
                }
            }
        }
    }
}
