$color-one: #3E14E9;
$color-two: #0E14EE;
$color-three: #7F14D4;
$color-four: #0414B3;
$color-five: #FFFFFF;


@for $i from 1 to 13 {
    .col-#{$i} {
        width: 100% * $i / 12;
        float: left;
        padding: 10px;
    }
}